Source: lophi-automation
Maintainer: Chad Spensky <lophi@mit.edu>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: lophi-automation
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lophi, python-lophi-semanticgap, python-wxgtk2.8, python-wxtools, wx2.8-i18n, libwxgtk2.8-dev, libgtk2.0-dev, gtk2-engines-pixbuf, python-protobuf, python-pika, python-daemon, python-protobuf, rabbitmq-server, python-pyftpdlib, python-pymongo, mongodb
Description: LO-PHI Automation package.
 This package contains all of the tools for creating large-scale, automated, experiments with LO-PHI.
