Source: lophi-volatility
Maintainer: Chad Spensky <lophi@mit.edu>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-lophi-volatility
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, pcregrep, libpcre++-dev, python-dev, python-pip
Description: This package will download Volatility and all of its depende

