Source: lophi-disk-introspection-server
Section: unknown
Priority: extra
Maintainer: Chad Spensky <chad.spensky@ll.mit.edu>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/lophi-disk-introspection-server.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lophi-disk-introspection-server.git;a=summary

Package: lophi-disk-introspection-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
