Source: lophi-net-services
Maintainer: Chad Spensky <lophi@mit.edu>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: lophi-net-services
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, samba, python-netifaces
Description: This is the LO-PHI Network Services libraries that includes PXE/DHCP, DNS, and TFTP Server
